{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <form id="addcourse-form" method="POST" style="min-width: 300px;max-width: 720px;height: fit-content;">
        <form action="" method="POST">
            {% csrf_token %}
            <input name="course" class="form-control mb-5" type="text" placeholder="ID курса" autocomplete="off" required>
            <button type="submit" class="btn btn-outline-success mx-auto">Добавить курс</button>
            <small>
                <a href="{% url 'create-course' %}">Создать курс</a>
            </small>
        </form>
    </form>
</div>
{% endblock content %}